* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

main {
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

/* ####### Header ####### */
header {
  min-height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #000 0% 40%, #999);
  z-index: 999;
  overflow: hidden;
  /* visibility: hidden; */
}
header .logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-left: 20px;
}
header .logo img {
  height: 100%;
}
header nav {
  width: 600px;
  height: 80px;
  float: right;
}
header nav ul li {
  width: 150px;
  height: 80px;
  float: left;
}
header nav ul li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  display: block;
  transition: all 0.5s;
}
header nav ul li a:hover {
  background: gold;
  color: #000;
}

/* ####### section 1 ####### */
section:first-of-type {
  height: 70vh;
  background: gold;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}
.inner-section1 {
  width: 80%;
  height: 100%;
  margin: auto;
  background: url(../images/banner.jpg) center/cover;
  clip-path: circle(65% at 50% 30%);
}

.search {
  width: 250px;
  height: 60px;
  background: #000;
  position: fixed;
  top: 20%;
  left: -190px;
  border-radius: 0 20px 20px 0;
  transition: 1s all;
}
.search input {
  float: left;
  margin-block: 10px;
  padding: 10px;
  border-radius: 0 20px 20px 0;
}
.search img {
  height: 50px;
  float: left;
  cursor: pointer;
}
.search:hover {
  left: 0;
}

/* ####### section 2 ####### */
section:nth-of-type(2) {
  position: relative;
  min-height: 300px;
  top: -100px;
}
section:nth-of-type(2) .blocks {
  width: 70%;
  margin: auto;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
}

.blocks .block {
  width: 20%;
  height: 180px;
  border: 1px solid gold;
  border-radius: 20px;
  /* float: left; */
  /* margin-inline: calc(20% / 8); */
  margin-block: 60px;
  overflow: hidden;
}
.blocks .block:first-of-type {
  background: #fff url(../images/footballacademy.jpg) no-repeat center / 100%;
}
.blocks .block:nth-of-type(2) {
  background: #fff url(../images/squashacademy.jpg) no-repeat center / 100%;
}
.blocks .block:nth-of-type(3) {
  background: #fff url(../images/swimmingacademy.jpg) no-repeat center / 100%;
}
.blocks .block:last-of-type {
  background: #fff url(../images/tennisacademy.jpg) no-repeat center / 100%;
}
.blocks .block .overlay {
  width: 100%;
  height: 100%;
  background: #e7d10666;
  padding: 10px;
  transition: 0.5s all;
  clip-path: circle(0 at 0 0);
}
.blocks .block:hover .overlay {
  clip-path: circle(60% at 0 0);
}
h1 {
  text-align: center;
  color: rgb(33, 33, 227);
}
hr {
  width: 30%;
  margin: auto;
  height: 2px;
  background-color: rgb(17, 17, 100);
}

section .right {
  float: right;
  width: 500px;
  margin-right: 100px;
  height: 150px;
  overflow: hidden;
}
section .right .inner {
  width: 100%;
  height: 150px;
  background: url(../images/about.jpg) no-repeat center / 100%;
  border-radius: 20px 20px 0 0;
}
section .right .inner .ininer {
  width: 100%;
  background: #e7d10666;
  transition: 0.5s all;
  clip-path: circle(0 at 50% 50%);
}
section .right .inner:hover .ininer {
  clip-path: circle(100 at 0 0);
}
.left {
  width: 50%;
  float: left;
  margin-left: 100px;
}
section .left h4 {
  color: rgb(33, 33, 227);
}
section .left p {
  color: rgb(44, 44, 148);
}
.clear {
  clear: both;
}

table {
  width: 84%;
  height: 350px;
  margin: auto;
}

table tr:nth-child(2) {
  background: gray;
}
table tr:nth-child(4) {
  background: gray;
}
table tr:nth-child(6) {
  background: gray;
}
td {
  text-align: center;
  height: 25px;
}
.cont {
  margin-top: 10px;
  overflow: hidden;
  margin-left: 4%;
}
.cont .cont1 {
  width: 30%;
  height: 350px;
  border: 1px solid;
  float: left;
  margin-left: 1%;
}
.cont .cont1 .image {
  width: 95%;
  height: 250px;
  margin: auto;
  margin-top: 5px;
}
.cont .cont1 .image img {
  width: 100%;
  height: 100%;
}

.cont .cont2 {
  width: 95%;
  margin: auto;
}

.cont .cont2 p {
  text-align: justify;
}
.lastsection {
  width: 90%;
  height: 300px;
  margin: auto;
  background-color: gold;
  margin-right: 6%;
  margin-top: 5px;
}
.lastsection div {
  width: 40%;
  height: 100%;
  float: left;
  margin-left: 7%;
}
.lastsection .image img {
  width: 100%;
  height: 100%;
}
.lastsection .vedio iframe {
  width: 100%;
  height: 100%;
}
.map{
  width: 100%;
  height: 350px;
}
.map iframe{
  width: 100%;
  height: 100%;
}
